@charset "UTF-8";
@import './common/themes.module.scss';

@mixin button-wrapper {
  font-size: $--font-size-medium;
  color: $--font-color-main; //文本主色
  outline: none;
  border: 1px dotted transparent;
  padding: 0 10px;
  cursor: pointer;

  //控制大小
  &-L {
    width: auto;
    height: 40px;
    font-size: $--font-size-large;
  }
  &-M {
    width: auto;
    height: 32px;
    font-size: $--font-size-medium;
  }
  &-S {
    width: auto;
    height: 24px;
    font-size: $--font-size-small;
  }

  //控制圆角、方角、形状
  &--round {
    border-radius: 10px;
  }
  &--square {
    border-radius: 4px;
  }
  &--other1 {
    border-radius: 25% 10%;
  }
  &--other2 {
    border-radius: 10% / 50%;
  }
  &--other3 {
    border-radius: 10px 100px / 120px;
  }
  &--other4 {
    border-radius: 50% 20% / 10% 40%;
  }

  &-primary {
    color: $--font-color-primary;
    background-color: $--color-primary;
    // focus,hover的时，背景色变深
    img {
      width: 66%;
      height: 75%;
      object-fit: contain;
      filter: brightness(600%);
      transform: rotate(90deg);
    }
    &:focus,
    &:focus-visible {
      background-color: rgba($--color-hover, 1);
      // border: 1px dashed ;
      outline: 1px dashed; //使用outline不占据空间，不影响按钮尺寸和位置
    }
    &:hover {
      background-color: rgba($--color-hover, 1);
    }
    &:active {
      background-color: rgba($--color-click, 1);
      // border: 1px transparent;
    }
    &:visited {
      //loading状态
      background-color: transparent;
    }
    &:disabled {
      background-color: rgba($--color-disabled, 1);
      color: $--font-color-disabled;
    }
  }

  &-secondary {
    background-color: $--color-light-background;
    border: 1px solid $--border-color-secondary;
    color: $--color-main;
    img {
      width: 66%;
      height: 75%;
      object-fit: contain;
      transform: rotate(90deg);
    }
    &:focus,
    &:hover {
      background-color: rgba($--color-secondary-hover, 1);
      outline: none;
    }
    &:active {
      background-color: rgba($--color-secondary, 0.75);
    }
    &:disabled {
      background-color: rgba($--color-disabled, 1);
      color: $--font-color-disabled;
    }
  }
  &-revert {
    background-color: #ffffff;
    border: 1px solid $--color-disabled;
    color: $--font-color-main;
    img {
      width: 66%;
      height: 75%;
      object-fit: contain;
      transform: rotate(90deg);
    }
    &:focus,
    &:hover {
      border: 1px solid $--border-color-secondary;
      color: $--border-color-secondary;
      outline: none;
    }
    &:active {
      color: rgba($--font-color-main, 1);
    }
    &:disabled {
      background-color: rgba($--color-disabled, 1);
      color: $--font-color-disabled;
    }
  }
  // &-subtle {
  //   background-color: $--color-subtle;
  //   border-color: $--color-subtle;
  //   &:focus,
  //   &:hover {
  //     background-color: rgba($--color-subtle, 0.50);
  //   }
  //   &:active {
  //     background-color: rgba($--color-subtle, 0.75);
  //   }
  // }

  // &-text {
  //   background-color: $--color-text;
  //   border-color: $--color-text;
  //   color: $--color-primary;
  //   &:focus,
  //   &:hover {
  //     color: rgba($--color-primary, 0.50);
  //   }
  //   &:active {
  //     color: rgba($--color-primary, 0.75);
  //   }
  // }

  // &-button-group {
  //   background-color: $--color-button-group;
  //   border-color: $--color-button-group;
  //   &:focus,
  //   &:hover {
  //     background-color: rgba($--color-button-group, 0.50);
  //   }
  //   &:active {
  //     background-color: rgba($--color-button-group, 0.75);
  //   }
  // }
  // &-danger {
  //   background-color: $--color-danger;
  //   border-color: $--color-danger;
  //   &:focus,
  //   &:hover {
  //     background-color: rgba($--color-danger, 0.50);
  //   }
  //   &:active {
  //     background-color: rgba($--color-danger, 0.75);
  //   }
  // }
}
