@charset "UTF-8";
@import './common/themes.module.scss';

$active-color: #87ceeb;
// https: //encycolorpedia.cn/ 可查各种颜色
@mixin input-wrapper{
.my-input {
  margin: 1px;
  width: 100%;
  cursor: pointer;
  position: relative;

  // &.my-input-suffix-icon  {
  //   padding-right: 30px;
  // }

  &-inner {
    display:flex;
    position: relative;
    cursor: pointer;
    width: width('.my-input')-16px;
    height: 24px;
    line-height: 24px;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 0 15px;
    //适合白色背景，后面可以调整，比如黑色背景选白字
    color: black;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      border-color: #87cefa;
    }

    &:active,
    &:focus {
      outline: none;
      border-color: $active-color;
      box-shadow: 0 0 0 2px rgba(100, 149, 237, 0.3);
    }

    &::placeholder {
      color: rgb(213, 215, 220);
      font-size: inherit;
    }

    &-S{
        height:24px;
        line-height: 24px;
    }
    &-M{
        height:32px;
        line-height: 32px;
    }
    &-L{
        height:40px;
        line-height: 40px;
    }
    
  }

  &.is-disabled {
    .my-input-inner {
      cursor: not-allowed;
      background-color: #fafafc;
      color: rgba(194, 194, 194, 1);

      &:hover,
      &:focus,
      &:active {
        border: 1px solid #dcdfe6;
        box-shadow: none;
      }
    }
  }

  .close-icon,
  .password-icon {
    display: none;
  }

  &:hover .close-icon,
  &:focus .close-icon,
  &:hover .password-icon,
  &:focus .password-icon,
  &-suffix-icon {
    // margin: 0 1px;
    height: 80%;
    // display: flex;
    // justify-content: center;
    align-items: center;

    margin-left:auto;
    // margin-top:50%;
    position:relative;
    top:3px;
    left:-22px;

    display:inline-block;

    .my-icon {
      color: #dcdfe6;

      &:hover {
        color: #c0c4cc;
      }
    }
  }

  .suffix-icon .my-icon:hover {
    color: #dcdfe6;
  }
}

.my-textarea {
  width: 100%;

  &-inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      border-color: #87cefa;
    }

    &:active,
    &:focus {
      outline: none;
      border-color: $active-color;
      box-shadow: 0 0 0 2px rgba(100, 149, 237, 0.3);
    }

    &::placeholder {
      color: rgb(213, 215, 220);
      font-size: inherit;
    }
  }
}
}