
@charset "UTF-8";
@import './common/themes.module.scss';

@mixin select-wrapper{
    width: 100%;
    position: relative;
    cursor: pointer;
    &-placeholder {
      color: rgba(194, 194, 194, 1);
    }
    &-label,
    &-placeholder {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .jw-base-select {
      width: 100%;
      line-height: 34px;
      min-height: 34px;
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      outline: none;
      padding: 0 30px 0 15px;
      color: rgb(51, 54, 57);
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      &:hover {
        border-color: #c0c4cc;
      }
      &:active,
      &:focus {
        outline: none;
        border-color: #18a058;
        box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.3);
      }
      &-suffix {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-dropdown {
      z-index: 10000;
      position: absolute;
      border-radius: 3px;
      padding: 0;
      top: calc(100% + 5px);
      width: 100%;
      opacity: 0;
      height: 0px;
      width: 100%;
      pointer-events: none;
      background-color: #fff;
      transition: all 250ms ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px -4px,
        rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
      overflow-y: auto;
      overflow-x: hidden;
      text-overflow: ellipsis;
      .no-options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-option {
        z-index: 10000;
        display: inline-block;
        cursor: pointer;
        min-width: 100%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 32px;
        padding: 0 10px;
        line-height: 32px;
        overflow: visible;
        background-color: #fff;
        position: relative;
        &-option-suffix-icon {
          position: absolute;
          height: 100%;
          display: flex;
          align-items: center;
          width: 30px;
          right: 0;
          top: 0;
        }
        &:hover,
        &.is-active {
          background-color: #f3f3f5;
          color: #25a561;
        }
        &.is-disabled {
          cursor: not-allowed;
          background-color: #fff;
          color: #c2cddd;
        }
        &.is-disabled.is-active {
          background-color: #f9f9fa;
          color: #a5ceaf;
        }
        &.is-multiple {
          padding-right: 30px;
        }
      }
    }
    &:hover &-dropdown {
      pointer-events: auto;
    }
    &:focus-within &-dropdown {
      opacity: 1;
      height: 300px;
      width: 100%;
      pointer-events: auto;
    }
    &:focus-within .jw-base-select {
      outline: none;
      border-color: #18a058;
      box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.3);
    }
    &.is-disabled {
      cursor: not-allowed;
    }
    &.is-disabled .jw-base-select {
      cursor: not-allowed;
      background-color: #fafafc;
      color: rgba(194, 194, 194, 1);
      &:hover,
      &:focus,
      &:active {
        border: 1px solid #dcdfe6;
        box-shadow: none;
      }
    }
  
}