// $color: (
//   //字体
//   DarkGray:
//     (
$DG-10: #ffffff;
$DG-20: #fafafa;  //下拉菜单选中色/表格行选中
$DG-30: #f3f3f4;  //背景
$DG-50: #e8e8e8;  //分割线/不可用状态背景
$DG-60: #cccccc;  //控件框/文本控件提示/禁用
$DG-70: #b0b0b0;  //辅助可操作图标颜色
$DG-80: #999999;  //三级文本主色,提示性文字颜色
$DG-90: #666666;  //二级文本主色
$DG-100: #333333; //文本主色
//   );
// //产品主色
// Blue:
//   (
$B-10: #e8effb;  //浅色背景
$B-20: #c4d8f5;
$B-30: #8ab2eb;
$B-40: #508be1;  //点击
$B-50: #1665d8;  //UI主色 标准色 Tab选中 悬浮 常规 超链接
$B-60: #1150ac;  //悬浮
$B-80: #0d3c81; 
$B-90: #082856;  
//   );
// Red: (
$R-10: #fcedea;
$R-20: #f8d1ca;
$R-30: #f2a496;
$R-40: #ec7661;
$R-50: #e6492d;
$R-60: #a0321f;
$R-80: #8a2b1b;
$R-90: #5c1d12;
// );
// Orange: (
$O-10: #fef1e5;
$O-20: #fddebf;
$O-30: #fcbc7f;
$O-40: #fb9c40;
$O-50: #f97a00;
$O-60: #c76100;
$O-80: #954900;
$O-90: #633000;
// );
// Yellow: (
$Y-10: #fef7e7;
$Y-20: #feecc4;
$Y-30: #fcd989;
$Y-40: #fbc95a;
$Y-50: #fab314;
$Y-60: #c88f10;
$Y-80: #966b0c;
$Y-90: #644708;
// );
// Green: (
$G-10: #eaf6ec;
$G-20: #ccead0;
$G-30: #99d4a1;
$G-40: #67c073;
$G-50: #34aa44;
$G-60: #298836;
$G-80: #1f6628;
$G-90: #14441b;
// );
// Magenta: (
$M-10: #feecf0;
$M-20: #fecfd8;
$M-30: #fe9fb3;
$M-40: #fe6f8d;
$M-50: #fe4067;
$M-60: #cb3352;
$M-80: #98263d;
$M-90: #651929;
// );
// Purple: (
$P-10: #f0eefd;
$P-20: #d8d5fb;
$P-30: #b3abf9;
$P-40: #8d81f6;
$P-50: #6758f3;
$P-60: #5246c2;
$P-80: #3d3491;
$P-90: #292361;
// );
// Cyan: (
$C-10: #e8f8f4;
$C-20: #c5ede3;
$C-30: #8cdcc8;
$C-40: #53cbad;
$C-50: #1ab991;
$C-60: #149474;
$C-80: #0f6f57;
$C-90: #0a4a3a;
// );
// BlueCloud: (
$BlueCloud-10: #e6f5fa;
$BlueCloud-20: #bfe6f4;
$BlueCloud-30: #80ceea;
$BlueCloud-40: #40b6df;
$BlueCloud-50: #009ed5;
$BlueCloud-60: #007eaa;
$BlueCloud-80: #005e7f;
$BlueCloud-90: #003f55;
//   )
// );
