$--color-primary: #a2b9bc;
$--color-info: #a2b9bc;
$--font-color-main: #a2b9bc;
$--color-success: #a2b9bc;
$--color-warning: #c82e2e;
$--color-text: #a2b9bc;
$--color-primary: #a2b9bc;
$--color-error: #a2b9bc;
$--font-size-medium: 18px;
